@import "../scss/variables/variables";

html {
  font-family: dmSansRegular;
  font-size: $default_font_size;
  line-height: 24px;
}
body {
  margin: 0;
  background-color: #F6F8F9;
  color: $colour;
}

main {
  padding: $common_padding - 1;
}

a {
  text-decoration: none;
}
.navigation .active > a {
  opacity: 1;
}
