@import "../scss/variables/variables";

html {
  font-family: dmSansRegular;
  font-size: $default_font_size;
  line-height: 24px;
}
body {
  margin: 0;
  background-color: $body_bg;
  color: $colour;
  overflow-x: hidden;
}

main {
  padding: $common_padding - 1;
}

a {
  text-decoration: none;
}
.navigation .active > a {
  opacity: 1;
}

// On desktop view 

@media (min-width: 1440px) {
  main {
    padding-inline-start: var(--desktop-padding);
    padding-inline-end: var(--desktop-padding);
  }
}