@import "../scss/variables/variables";
body > header {
  background-color: $header_bg;
  display: flex;
  justify-content: space-between;
  padding: $common_padding + 7;
}

@media (min-width: 1440px) {
  body > header {
    padding-inline-start: 135px;
    padding-inline-end: 135px;
  }
}

body > header h1 {
  margin: 0;
}

body > header h1 > a {
  text-decoration: none;
  color: $link_colour;
  text-transform: uppercase;
}

.a11y {
  opacity: 0;
}