@import "../scss/variables/variables";
body > header {
  background-color: $header_bg;
  padding: $common_padding + 7;
  overflow-y: hidden;
}

body > header > div {
  display: flex;
  justify-content: space-between;
}

body > header h1 {
  margin: 0;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

body > header h1 > a {
  font-family: dmSerifDisplayRegular;
  text-decoration: none;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-style: normal;
  font-weight: normal;
  color: $link_colour;
  text-transform: uppercase;
}

.a11y {
  opacity: 0;
}

@media (min-width: $min_width_desktop) {
  body > header {
    padding-inline-start: unset;
    padding-inline-end: unset;
  }
  body > header > div {
    max-width: $content_width_desktop;
    min-width: $content_width_desktop;
    margin: auto;
  }
  body > header h1 > a {
    font-size: 40px;
    line-height: 48px;
  }
}

