@import "../scss/variables/variables";

// About the header of first section
.section__perspective {
  margin-left: 16px;
  margin-right: 16px;
}
.section__perspective header {
  padding-block-start: 31px;
}

.section__perspective header > a {
  color: $colour;
  opacity: .5;
}

.section__perspective header > a:hover {
  opacity: 1;
}

.section__perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: $default_font_size + 36;
  line-height: 64px;
  margin-top: 61px;
}

.section__perspective > header > p {
  font-size: $default_font_size + 2;
  line-height: 32px;
}

// About the first article in the perspective section
.perspective__samples {
  padding-block-start: $common_padding;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline-end: -$common_padding;
}
.perspective__samples img {
  border-radius: 5px;
}
.samples__visible {
  padding-inline-end: $common_padding;
}
.samples__visible img {
  max-width: 100%;
  min-width: 100%;
}

.samples__slides {
  overflow: hidden;
  width: 100%;
}

.samples__slides > div {
  overflow-x: hidden;
  // margin-bottom: -17px;
  overflow-y: hidden;
}
.samples__slides > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $common_padding - 7;
}

.samples__slides div * {
  overflow-x: auto;
  white-space: nowrap;
  cursor:pointer
}
.samples__slides img {
  max-width: var(--slide-img-width);
  min-width: var(--slide-img-width);
  opacity: .5;
}

.samples__slides .active {
  transition: opacity 1s;
  opacity: 1;
  outline: none;
}

.img:hover {
  opacity: 1;
}

// To make sure that the scrollbar is invisible with most browsers
// **************************
.image-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.image-container::-webkit-scrollbar {
  display: none;
}

.image-container::-moz-scrollbar {
    display: none; 
}
// ***************************

// About the second article in the perspective section

.section__perspective h3 {
  font-family: dmSerifDisplayRegular;
  color: #000000;
  font-weight: normal;
  font-size: $default_font_size + 24;
  line-height: 48px;
}

.mineral p:nth-of-type(1) {
  font-size: $default_font_size + 2;
  line-height: 32px;
  margin-block-end: 32px;
}
.mineral p:nth-of-type(2) {
  line-height: 24px;
  opacity: .5;
}
.article__heading {
  display: none;
}

// On desktop

@media (min-width: $min_width_desktop) {
  .section__perspective {
    padding: unset;
    max-width: $content_width_desktop;
    min-width: $content_width_desktop;
    margin: auto;
  }

  .section__perspective header {
    padding-block-start: 49px;
  }

  .section__perspective > header > h2 {
    font-size: $default_font_size + 56;
    line-height: 80px;
    max-width: 457px;
    margin-top: 38px;
  }

  .section__perspective h3 {
    font-size: $default_font_size + 36;
    line-height: 64px;
  }

  .perspective__samples {
    margin-inline-end: unset;
  }
  .samples__visible {
    padding-inline-end: 0;
  }
  .samples__slides {
    overflow: visible;
  }
  .samples__slides > div > div {
    gap: $common_padding - 5;
  }
  .mineral__desire {
    max-width: 570px;
    margin: auto;
    margin-inline-end: 0;
    padding-block-start: 100px;
    margin-inline-start: 15%;
  }

  .mineral {
    display: flex;
  }
  .samples__slides img {
    max-width: var(--slide-img-width);
    min-width: auto;
  }
  .samples__slides img:nth-of-type(1) {
    margin-inline-start: 0;
  }
  .samples__slides img:last-child {
    margin-inline-end: 0;
  }
  
}

// Style when using js

.samples__visible {
	display: grid;
	grid-template-columns: 0px 1fr 0px;
}

.samples__visible figure {
  margin: 0;
}
.samples__visible button {
  z-index: 3;
  background-color: transparent;
  border: 0;
  // margin-block-end: 7px;
  color: $link_colour;
  border-radius: 5px;
  outline: none;
  transition: all .5s;
  cursor: pointer;
}
.samples__visible button:hover{
  background-image: linear-gradient(transparent, $second_bg, transparent);
}
.prev {
  padding-inline-end: $common_padding * 2;
}

.next {
  position: relative;
  right: 2.5rem;
  padding-inline-end: 25px;
  padding-inline-start: $common_padding;
}






