@import "../scss/variables/variables";


.section__updates {
  background-color: #FFDD78;
  padding:  $common_padding;
  margin: -15px;
  padding-block-start: 63px;
  padding-block-end: 53px;
}
.section__updates h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
}

.section__updates > header > span {
  font-weight: normal;
  font-size: $default_font_size;
  line-height: 24px;
  text-transform: uppercase;
}

.subscribe__type {
  padding: .5rem;
  font-weight: bold;
  font-size: $default_font_size - 2;
  text-align: center;
  line-height: 19px;
  border: 0;
  border-radius: 2.94008px;
}

.subscribe__type > label {
  font-weight: bold;
  font-size: $default_font_size - 4;
  line-height: 16px;
  text-transform: uppercase;
}

.email {
  width: 326px;
  height: 76px;
  margin-bottom: $common_padding;
  text-align: left;
  padding: 0;
}

.email input {
  width: 94%;
  height: 48px;
  border-radius: 5px;
  padding-inline-end: 9px;
  padding-inline-start: 9px;
  border: 1px solid #DADADA;
  margin-block-start: 8px;
}

.submit {
  width: 170px;
  height: 48px;
  background-color: $header_bg;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.submit button {
  // margin-block-start: 3px;
  // margin-block-end: 3px;
  border: 0;
  top: 8px;
  position: relative;
  color:$link_colour;
  background-color: inherit;
  font-weight: bold;
  font-size: $default_font_size;
  line-height: 24px;
  text-align: center;
}

// On desktop view 

@media (min-width: 1440px) {
  .section__updates {
    margin-inline-start: -135px;
    margin-inline-end: -135px;
    padding-inline-start: 135px;
    padding-inline-end: 135px;
    display: flex;
  }

  .section__updates > header {
    max-width: 382px;
    min-width: 382px;
    margin-inline-end: auto;
  }

  .section__updates > form {
    display: flex;
  }


}