@import "../scss/variables/variables";


.section__updates {
  background-color: $second_bg;
  padding-block-start: 63px;
  padding-block-end: 53px;
}
.section__updates h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: $default_font_size + 24;
  line-height: 48px;
}

.section__updates > div {
  max-width: $content_width_mobile;
  margin-left: 16px;
  margin-right: 16px;
}

.section__updates header > span {
  font-weight: normal;
  font-size: $default_font_size;
  line-height: 24px;
  text-transform: uppercase;
}

.subscribe__type {
  padding: .5rem;
  font-weight: bold;
  font-size: $default_font_size - 2;
  text-align: center;
  line-height: 19px;
  border: 0;
  border-radius: 2.94008px;
}

.subscribe__type > label {
  font-weight: bold;
  font-size: $default_font_size - 4;
  line-height: 16px;
  text-transform: uppercase;
}

.email {
  width: 367px;
  height: 76px;
  margin-inline-end: 0;
  margin-bottom: $common_padding;
  text-align: left;
  padding: 0;
}

.email input {
  width: 80%;
  height: 48px;
  border-radius: 5px;
  padding-inline-end: $common_padding;
  padding-inline-start: $common_padding;
  border: 1px solid #DADADA;
  margin-block-start: 8px;
}


.submit {	
  text-decoration: none;	
  display: inline-block;	
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: $header_bg;
  border: 0;
  padding: 14px 47px;
  color:$link_colour;
  font-weight: bold;
  font-size: $default_font_size;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

// On desktop view 

@media (min-width: $min_width_desktop) {
  .section__updates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -16px;
    padding-inline-start: unset;
    padding-inline-end: unset;
  }

  .section__updates > div {
    display: flex;
    flex-wrap: wrap;
    max-width: $content_width_desktop;
    min-width: $content_width_desktop;
    margin: auto;
  }
  .section__updates h2 {
    font-size: 52px;
    line-height: 64px;
  }
  .section__updates header {
    max-width: var(--header-section-width);
    min-width: var(--header-section-width);
    margin-inline-end: 15%;
  }
  // .subscribe__type {
  //   margin-inline-end: unset;
  // }

  .section__updates form {
    display: flex;
    position: relative;
    top: 50px;
  }

  .submit {
    position: relative;
    top: 26px;
  }


}