@import "../scss/variables/variables";

// About the header of first section
.perspective header {
  padding-block-start: $common_padding;
}

.perspective header > a {
  padding-inline-start: 1.5rem;
  color: $colour;
  opacity: .5;
}

.perspective header > a:hover {
  opacity: 1;
}

.perspective header > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/icon_arrow_left.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  top: 7.3rem;
}

.perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: $default_font_size + 36;
  line-height: 64px;
}

.perspective > header > p {
  font-size: $default_font_size + 2;
  line-height: 32px;
}

// About the first article in the perspective section
.perspective__samples {
  padding-block-start: $common_padding;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 12px;
  margin-inline-end: -$common_padding;
}
.perspective__samples img {
  border-radius: 5px;
}
.samples__visible {
  padding-inline-end: $common_padding;
}
.samples__visible img {
  max-width: 100%;
  min-width: 100%;
}

.samples__slides {
  overflow: hidden;
  width: 100%;
}

.samples__slides > div {
  overflow-x: hidden;
  // margin-bottom: -17px;
  overflow-y: hidden;
}
.samples__slides > div > div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: $common_padding;
}
.samples__slides div * {
  overflow-x: auto;
  white-space: nowrap;
  cursor:pointer
}
.samples__slides img {
  max-width: 137px;
  min-width: 137px;
  opacity: .5;
}

.samples__slides .active {
  opacity: 1;
}

.img:hover {
  opacity: 1;
}

// To make sure that the scrollbar is invisible with most browsers
// **************************
.image-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.image-container::-webkit-scrollbar {
  display: none;
}

.image-container::-moz-scrollbar {
    display: none; 
}
// ***************************

// About the second article in the perspective section

.perspective h3 {
  font-weight: normal;
  font-size: $default_font_size + 24;
  line-height: 48px;
}

.mineral p:nth-of-type(1) {
  font-size: $default_font_size + 2;
  line-height: 32px;
  margin-block-end: 32px;
}
.mineral p:nth-of-type(2) {
  line-height: 24px;
  opacity: .5;
}


// On desktop

@media (min-width: 1440px) {
  .samples__visible {
    padding-inline-end: 0;
  }
  .samples__slides {
    overflow: visible;
  }
  .mineral__desire {
    max-width: 570px;
    margin: auto;
    margin-inline-end: 0;
    padding-block-start: 100px;
  }

  .mineral {
    display: flex;
  }

  .samples__slides img:nth-of-type(1) {
    margin-inline-start: 0;
  }
  .samples__slides img:last-child {
    margin-inline-end: 0;
  }
  
  .perspective > header > h2 {
    font-size: 72px;
    line-height: 80px;
    max-width: 457px;
  }

  .perspective h3 {
    font-size: 52px;
    line-height: 64px;
  }
  .perspective header > a::before {
  top: 8.2rem;
  }
}

// Style when using js

.samples__visible {
	display: grid;
	grid-template-columns: 0px 1fr 0px;
}

.samples__visible figure {
  margin: 0;
}
.samples__visible button {
  z-index: 3;
  background-color: transparent;
  border: 0;
  margin-block-end: 7px;
  color: $link_colour;
  border-radius: 5px;
}
.prev {
  padding-inline-end: 2rem;
}

.next {
  position: relative;
  right: 2.5rem;
  padding-inline-end: 25px;
  padding-inline-start: 16px;
}






