@import "../scss/variables/variables";

// About the header of first section
.perspective header {
  padding-block-start: $common_padding;
}

.perspective header > a {
  padding-inline-start: 1.5rem;
  color: $colour;
  opacity: .5;
}

.perspective header > a:hover {
  opacity: 1;
}

.perspective header > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/icon_arrow_left.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  top: 6.8rem;
}

.perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: $default_font_size + 36;
  line-height: 64px;
}

.perspective > header > p {
  font-size: $default_font_size + 2;
  line-height: 32px;
}

// About the first article in the perspective section
.perspective__samples {
  padding-block-start: $common_padding;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 12px;
}
.perspective__samples img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px;
}
.samples__visible {
  padding-inline-end: $common_padding;
}
.samples__visible img {
  max-width: 100%;
  min-width: 100%;
}

.samples__slides {
  overflow: hidden;
  width: 100%;
}

.samples__slides > div {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 16px;
  // display: flex;
  // overflow-x: scroll;
  // overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: -17px;
  overflow-y: hidden;
}
.samples__slides > div > div {
  display: flex;
}
.samples__slides div * {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  cursor:pointer
}
.samples__slides img {
  margin-inline-end: $common_padding;
  max-width: 35%;
  min-width: 35%;
}

// About the second article in the perspective section

.perspective h3 {
  font-weight: normal;
  font-size: $default_font_size + 24;
  line-height: 48px;
}

.mineral > p:nth-of-type(1) {
  font-size: $default_font_size + 2;
  line-height: 32px;
  margin-block-end: 32px;
}
.mineral > p:nth-of-type(2) {
  line-height: 24px;
  opacity: .5;
}








