@import "../scss/variables/variables";
// About the table in the perspective section

.perspective__update {
  padding-block-start: 92px;
}

.perspective__update table {
  max-width: 100%;
  min-width: 100%;
  border-spacing: 0px 16px;
}

.perspective__update td {
  padding: 0;
}


.perspective__update tr > td:nth-of-type(2) {
  padding-inline-start: $common_padding;
}
td > h4 {
  opacity: .5;
  font-weight: normal;
  font-size: $default_font_size;
  line-height: 24px;
}

td > span {
  font-weight: bold;
  font-size: $default_font_size;
  line-height: 24px;
}