@import "colours";

// Reseting list

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin anchor-site {
  text-transform: capitalize;
  color: $colour;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
}


// About fonts variables

$fonts_path: "../fonts/";
$woff2: 'woff2';
$woff: 'woff';
$default_font_size: 16px;
$common_padding: 16px;


// custom properties
:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px;
}

