:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

@font-face {
  font-family: dmSansRegular;
  src: local("DM Sans Regular"), local("DM-Sans-Regular"), local("dm-sans-regular"), local("dm sans regular"), url("../fonts/dm_sans_regular.woff2") format("woff2"), url("../fonts/dm_sans_regular.woff") format("woff"); }

@font-face {
  font-family: dmSansBold;
  src: local("DM Sans Bold"), local("DM-Sans-Bold"), local("dm-sans-bold"), local("dm sans bold"), url("../fonts/dm_sans_bold.woff2") format("woff2"), url("../fonts/dm_sans_bold.woff") format("woff"); }

@font-face {
  font-family: dmSerifDisplayRegular;
  src: local("DM Serif Display Regular"), local("DM-Serif-Dispaly-Regular"), local("dm-serif-display-regular"), local("dm serif display regular"), url("../fonts/dm_serif_display_regular.woff2") format("woff2"), url("../fonts/dm_serif_display_regular.woff") format("woff"); }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

html {
  font-family: dmSansRegular;
  font-size: 16px;
  line-height: 24px; }

body {
  margin: 0;
  background-color: #F6F8F9;
  color: #000000;
  overflow-x: hidden; }

body > header, section, footer {
  overflow-x: hidden; }

a {
  text-decoration: none; }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

.navigation {
  padding: 16px;
  height: 100%;
  position: absolute;
  z-index: 6;
  top: -7px;
  right: 0;
  bottom: 0;
  width: 250px;
  transform: translateY(-100%);
  transition: all .3s;
  background-color: #f8f8f8;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  opacity: 0; }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateY(0%);
  opacity: 1; }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0); }

.navigation > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

body > [type="checkbox"] {
  display: none; }

.navigation > label, body > header label {
  width: 20px;
  height: 14px;
  background-image: url(../images/icon_menu.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 8px;
  cursor: pointer; }

body > [type="checkbox"]:checked ~ .navigation > label {
  margin-right: 0;
  margin-left: auto;
  opacity: 1;
  background-image: url(../images/icon_close.svg);
  height: auto; }

.navigation li:hover:parent {
  background-color: red; }

.navigation > ul a {
  text-transform: capitalize;
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
  padding: 16px;
  color: #000000;
  opacity: 1; }

.navigation > ul a:hover {
  color: #434CCC; }

.links_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 68px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 32px;
  margin-block-end: 90px; }

.icon_facebook {
  background-image: url(../images/icon_facebook.svg); }

.icon_twitter {
  background-image: url(../images/icon_twitter.svg); }

.icon_instagram {
  background-image: url(../images/icon_instagram.svg); }

.icon {
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 50% 50%; }

.icon_facebook,
.icon_twitter,
.icon_instagram {
  display: block;
  width: 1rem;
  height: 1rem;
  text-indent: -999rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color .3s;
  margin: 0 -0.5rem; }

.navigation > label {
  opacity: 0; }

@media (min-width: 1114px) {
  body > header label {
    display: none; }
  .navigation {
    padding: 0;
    z-index: 4;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: auto;
    opacity: 1; }
  .navigation label {
    display: none; }
  .navigation > ul {
    justify-content: flex-end;
    padding-inline-start: 0;
    background-color: unset;
    display: flex;
    flex-direction: row;
    max-width: 1114px;
    min-width: 1114px;
    margin-left: auto;
    margin-right: auto; }
  .navigation > ul a {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .navigation > ul > li:last-child a {
    padding-inline-end: 0; }
  .navigation > ul > li a:hover {
    color: #FFDD78;
    text-shadow: unset; } }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

body > header {
  background-color: #434CCC;
  padding: 23px;
  overflow-y: hidden; }

body > header > div {
  display: flex;
  justify-content: space-between; }

body > header h1 {
  margin: 0;
  position: relative;
  cursor: pointer;
  z-index: 5; }

body > header h1 > a {
  font-family: dmSerifDisplayRegular;
  text-decoration: none;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-transform: uppercase; }

.a11y {
  opacity: 0; }

@media (min-width: 1114px) {
  body > header {
    padding-inline-start: unset;
    padding-inline-end: unset; }
  body > header > div {
    max-width: 1114px;
    min-width: 1114px;
    margin: auto; }
  body > header h1 > a {
    font-size: 40px;
    line-height: 48px; } }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

.section__perspective {
  margin-left: 16px;
  margin-right: 16px; }

.section__perspective header {
  padding-block-start: 31px; }

.section__perspective header > a {
  color: #000000;
  opacity: .5; }

.section__perspective header > a:hover {
  opacity: 1; }

.section__perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  margin-top: 61px; }

.section__perspective > header > p {
  font-size: 18px;
  line-height: 32px; }

.perspective__samples {
  padding-block-start: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-inline-end: -16px; }

.perspective__samples img {
  border-radius: 5px; }

.samples__visible {
  padding-inline-end: 16px; }

.samples__visible img {
  max-width: 100%;
  min-width: 100%; }

.samples__slides {
  overflow: hidden;
  width: 100%; }

.samples__slides > div {
  overflow-x: hidden;
  overflow-y: hidden; }

.samples__slides > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px; }

.samples__slides div * {
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer; }

.samples__slides img {
  max-width: var(--slide-img-width);
  min-width: var(--slide-img-width);
  opacity: .5; }

.samples__slides .active {
  transition: opacity 1s;
  opacity: 1;
  outline: none; }

.img:hover {
  opacity: 1; }

.image-container {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }

.image-container::-webkit-scrollbar {
  display: none; }

.image-container::-moz-scrollbar {
  display: none; }

.section__perspective h3 {
  font-family: dmSerifDisplayRegular;
  color: #000000;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }

.mineral p:nth-of-type(1) {
  font-size: 18px;
  line-height: 32px;
  margin-block-end: 32px; }

.mineral p:nth-of-type(2) {
  line-height: 24px;
  opacity: .5; }

.article__heading {
  display: none; }

@media (min-width: 1114px) {
  .section__perspective {
    padding: unset;
    max-width: 1114px;
    min-width: 1114px;
    margin: auto; }
  .section__perspective header {
    padding-block-start: 49px; }
  .section__perspective > header > h2 {
    font-size: 72px;
    line-height: 80px;
    max-width: 457px;
    margin-top: 38px; }
  .section__perspective h3 {
    font-size: 52px;
    line-height: 64px; }
  .perspective__samples {
    margin-inline-end: unset; }
  .samples__visible {
    padding-inline-end: 0; }
  .samples__slides {
    overflow: visible; }
  .samples__slides > div > div {
    gap: 11px; }
  .mineral__desire {
    max-width: 570px;
    margin: auto;
    margin-inline-end: 0;
    padding-block-start: 100px;
    margin-inline-start: 15%; }
  .mineral {
    display: flex; }
  .samples__slides img {
    max-width: var(--slide-img-width);
    min-width: auto; }
  .samples__slides img:nth-of-type(1) {
    margin-inline-start: 0; }
  .samples__slides img:last-child {
    margin-inline-end: 0; } }

.samples__visible {
  display: grid;
  grid-template-columns: 0px 1fr 0px; }

.samples__visible figure {
  margin: 0; }

.samples__visible button {
  z-index: 3;
  background-color: transparent;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
  outline: none;
  transition: all .5s;
  cursor: pointer; }

.samples__visible button:hover {
  background-image: linear-gradient(transparent, #FFDD78, transparent); }

.prev {
  padding-inline-end: 32px; }

.next {
  position: relative;
  right: 2.5rem;
  padding-inline-end: 25px;
  padding-inline-start: 16px; }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

.mineral__update {
  padding-block-start: 92px; }

.mineral__update table {
  max-width: 100%;
  min-width: 100%;
  border-spacing: 0px 16px; }

.mineral__update td {
  padding: 0; }

.mineral__update tr > td:nth-of-type(2) {
  padding-inline-start: 16px; }

td > h4 {
  opacity: .5;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

td > span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

.section__updates {
  background-color: #FFDD78;
  padding-block-start: 63px;
  padding-block-end: 53px; }

.section__updates h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }

.section__updates > div {
  max-width: 670px;
  margin-left: 16px;
  margin-right: 16px; }

.section__updates header > span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase; }

.subscribe__type {
  padding: .5rem;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  border: 0;
  border-radius: 2.94008px; }

.subscribe__type > label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase; }

.email {
  width: 367px;
  height: 76px;
  margin-inline-end: 0;
  margin-bottom: 16px;
  text-align: left;
  padding: 0; }

.email input {
  width: 80%;
  height: 48px;
  border-radius: 5px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  border: 1px solid #DADADA;
  margin-block-start: 8px; }

.submit {
  text-decoration: none;
  display: inline-block;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: #434CCC;
  border: 0;
  padding: 14px 47px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer; }

@media (min-width: 1114px) {
  .section__updates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -16px;
    padding-inline-start: unset;
    padding-inline-end: unset; }
  .section__updates > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1114px;
    min-width: 1114px;
    margin: auto; }
  .section__updates h2 {
    font-size: 52px;
    line-height: 64px; }
  .section__updates header {
    max-width: var(--header-section-width);
    min-width: var(--header-section-width);
    margin-inline-end: 15%; }
  .section__updates form {
    display: flex;
    position: relative;
    top: 50px; }
  .submit {
    position: relative;
    top: 26px; } }

:root {
  --desktop-padding: 135px;
  --h1-font-size: 24px;
  --h1-line-height: 32px;
  --header-section-width: 382px;
  --slide-img-width: 137px; }

footer {
  background-color: #FFFFFF;
  margin: 0;
  padding: 16px; }

footer > div h2 a {
  font-family: dmSerifDisplayRegular;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase; }

footer > div > div > p, .copyright {
  font-size: 16px;
  opacity: .5; }

.posts {
  margin-block-start: 75px;
  margin-block-end: 75px; }

.footer--links {
  margin-block-start: 0;
  margin-block-end: 0; }

.border--bottom {
  border-bottom: 1px solid #000000;
  opacity: .1;
  margin-inline-start: -16px;
  margin-inline-end: -16px; }

.links_site, .posts__comments {
  margin: 0;
  padding: 0;
  list-style: none; }

.links_site a {
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
  text-decoration: none;
  padding: 4px 0px; }

.links_site a:hover {
  opacity: 1; }

.links_site .active > a {
  opacity: 1;
  padding: 16px 0px; }

.footer__row .links_site {
  margin-inline-end: 27%; }

.poster_profile img {
  border-radius: 5px; }

.posts__comments li {
  display: flex; }

.posts__comments li:nth-of-type(1) {
  margin-block-end: 26px; }

.posts__comments li p {
  margin: 0; }

.comment {
  margin-inline-start: 26px; }

.comment > span:nth-of-type(1) {
  opacity: .5;
  font-size: 15px; }

.comment > span:nth-of-type(2) {
  font-weight: bold;
  font-size: 12px; }

@media (min-width: 1114px) {
  footer {
    padding-inline-start: unset;
    padding-inline-end: unset; }
  .footer__row {
    display: flex;
    padding-block-start: 56px;
    width: 100%;
    max-width: 1114px;
    min-width: 1114px;
    margin: auto; }
  .footer__row h3 {
    display: none; }
  .footer__row > div {
    max-width: 270px;
    margin-inline-end: 10%; }
  .posts {
    margin-block-start: 22px; }
  .border--bottom {
    margin-inline-start: -135px;
    margin-inline-end: -135px; }
  .copyright {
    display: flex;
    justify-content: space-between;
    max-width: 1114px;
    margin: auto; } }
