@font-face {
  font-family: dmSansRegular;
  src: local("DM Sans Regular"), local("DM-Sans-Regular"), local("dm-sans-regular"), local("dm sans regular"), url("../fonts/dm_sans_regular.woff2") format("woff2"), url("../fonts/dm_sans_regular.woff") format("woff"); }

@font-face {
  font-family: dmSansBold;
  src: local("DM Sans Bold"), local("DM-Sans-Bold"), local("dm-sans-bold"), local("dm sans bold"), url("../fonts/dm_sans_bold.woff2") format("woff2"), url("../fonts/dm_sans_bold.woff") format("woff"); }

@font-face {
  font-family: dmSerifDisplayRegular;
  src: local("DM Serif Display Regular"), local("DM-Serif-Dispaly-Regular"), local("dm-serif-display-regular"), local("dm serif display regular"), url("../fonts/dm_serif_display_regular.woff2") format("woff2"), url("../fonts/dm_serif_display_regular.woff") format("woff"); }

html {
  font-family: dmSansRegular;
  font-size: 16px;
  line-height: 1.25; }

body {
  margin: 0;
  background-color: #F6F8F9;
  color: #000000; }

main {
  padding: 15px; }

a {
  text-decoration: none; }

.navigation {
  padding: 1rem;
  height: 50%;
  position: absolute;
  z-index: 3;
  top: -7px;
  right: 0;
  bottom: 0;
  width: 250px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: #f8f8f8;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateY(0%); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0); }

.navigation > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

body > [type="checkbox"] {
  display: none; }

.navigation > label, body > header > label {
  width: 20px;
  height: 14px;
  background-image: url(../images/icon_menu.png);
  background-size: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 12px; }

.navigation > label {
  opacity: 0; }

.navigation > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

.navigation > ul a {
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem; }

.navigation > ul > li a:hover {
  opacity: 1; }

body > header {
  background-color: #434CCC;
  display: flex;
  justify-content: space-between;
  padding: 23px; }

body > header h1 {
  margin: 0; }

body > header h1 > a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase; }

.a11y {
  opacity: 0; }

.perspective header {
  padding-block-start: 16px; }

.perspective header > a {
  padding-inline-start: 1.5rem;
  color: #000000;
  opacity: .5; }

.perspective header > a:hover {
  opacity: 1; }

.perspective header > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/icon_arrow_left.png);
  background-size: 16px;
  background-repeat: no-repeat;
  top: 7.6rem; }

.perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-size: 52px;
  line-height: 64px; }

.perspective > header > p {
  font-size: 18px;
  line-height: 32px; }

.perspective__samples {
  padding-block-start: 16px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 12px; }

.perspective__samples img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px; }

.samples__visible {
  padding-inline-end: 16px; }

.samples__visible img {
  max-width: 100%;
  min-width: 100%; }

.samples__slides {
  overflow: hidden;
  width: 100%; }

.samples__slides > div {
  overflow-x: hidden;
  margin-bottom: -17px;
  overflow-y: hidden; }

.samples__slides > div > div {
  display: flex; }

.samples__slides div * {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  cursor: pointer; }

.samples__slides img {
  margin-inline-end: 16px;
  max-width: 35%;
  min-width: 35%; }

.perspective__update {
  padding-block-start: 92px; }

.perspective__update table {
  max-width: 100%;
  min-width: 100%;
  border-spacing: 0px 16px; }

.perspective__update td {
  padding: 0; }

.perspective__update tr > td:nth-of-type(2) {
  padding-inline-start: 16px; }

td > h4 {
  opacity: .5;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

td > span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }
