:root {
  --desktop--padding: 135px; }

@font-face {
  font-family: dmSansRegular;
  src: local("DM Sans Regular"), local("DM-Sans-Regular"), local("dm-sans-regular"), local("dm sans regular"), url("../fonts/dm_sans_regular.woff2") format("woff2"), url("../fonts/dm_sans_regular.woff") format("woff"); }

@font-face {
  font-family: dmSansBold;
  src: local("DM Sans Bold"), local("DM-Sans-Bold"), local("dm-sans-bold"), local("dm sans bold"), url("../fonts/dm_sans_bold.woff2") format("woff2"), url("../fonts/dm_sans_bold.woff") format("woff"); }

@font-face {
  font-family: dmSerifDisplayRegular;
  src: local("DM Serif Display Regular"), local("DM-Serif-Dispaly-Regular"), local("dm-serif-display-regular"), local("dm serif display regular"), url("../fonts/dm_serif_display_regular.woff2") format("woff2"), url("../fonts/dm_serif_display_regular.woff") format("woff"); }

:root {
  --desktop--padding: 135px; }

html {
  font-family: dmSansRegular;
  font-size: 16px;
  line-height: 24px; }

body {
  margin: 0;
  background-color: #F6F8F9;
  color: #000000;
  overflow-x: hidden; }

main {
  padding: 15px; }

a {
  text-decoration: none; }

.navigation .active > a {
  opacity: 1; }

@media (min-width: 1440px) {
  main {
    padding-inline-start: var(--desktop--padding);
    padding-inline-end: var(--desktop--padding); } }

:root {
  --desktop--padding: 135px; }

.navigation {
  padding: 16px;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: -7px;
  right: 0;
  bottom: 0;
  width: 250px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: #f8f8f8;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }

body > [type="checkbox"]:checked ~ .navigation {
  transform: translateY(0%); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0); }

.navigation > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

body > [type="checkbox"] {
  display: none; }

.navigation > label, body > header > label {
  width: 20px;
  height: 14px;
  background-image: url(../images/icon_menu.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 8px; }

@media (min-width: 1440px) {
  .navigation > label, body > header > label {
    top: 16px; } }

.navigation > label {
  opacity: 0; }

.navigation > ul a {
  text-transform: capitalize;
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
  padding: 16px; }

.navigation > ul > li a:hover {
  opacity: 1; }

.links_social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 68px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 32px;
  margin-block-end: 90px; }

.icon_facebook {
  background-image: url(../images/icon_facebook.svg); }

.icon_twitter {
  background-image: url(../images/icon_twitter.svg); }

.icon_instagram {
  background-image: url(../images/icon_instagram.svg); }

.icon {
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 50% 50%; }

.icon_facebook,
.icon_twitter,
.icon_instagram {
  display: block;
  width: 1rem;
  height: 1rem;
  text-indent: -999rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color .3s;
  margin: 0 -0.5rem; }

:root {
  --desktop--padding: 135px; }

body > header {
  background-color: #434CCC;
  display: flex;
  justify-content: space-between;
  padding: 23px; }

body > header h1 {
  margin: 0; }

body > header h1 > a {
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-transform: uppercase; }

.a11y {
  opacity: 0; }

@media (min-width: 1440px) {
  body > header {
    padding-inline-start: var(--desktop--padding);
    padding-inline-end: var(--desktop--padding); }
  body > header h1 > a {
    font-size: 40px;
    line-height: 48px; } }

:root {
  --desktop--padding: 135px; }

.perspective header {
  padding-block-start: 16px; }

.perspective header > a {
  padding-inline-start: 1.5rem;
  color: #000000;
  opacity: .5; }

.perspective header > a:hover {
  opacity: 1; }

.perspective header > a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/icon_arrow_left.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  top: 7.3rem; }

.perspective > header > h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px; }

.perspective > header > p {
  font-size: 18px;
  line-height: 32px; }

.perspective__samples {
  padding-block-start: 16px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 12px;
  margin-inline-end: -16px; }

.perspective__samples img {
  border-radius: 5px; }

.samples__visible {
  padding-inline-end: 16px; }

.samples__visible img {
  max-width: 100%;
  min-width: 100%; }

.samples__slides {
  overflow: hidden;
  width: 100%; }

.samples__slides > div {
  overflow-x: hidden;
  overflow-y: hidden; }

.samples__slides > div > div {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 16px; }

.samples__slides div * {
  overflow-x: auto;
  white-space: nowrap;
  cursor: pointer; }

.samples__slides img {
  max-width: 137px;
  min-width: 137px; }

.image-container {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */ }

.image-container::-webkit-scrollbar {
  display: none; }

.image-container::-moz-scrollbar {
  display: none; }

.perspective h3 {
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }

.mineral p:nth-of-type(1) {
  font-size: 18px;
  line-height: 32px;
  margin-block-end: 32px; }

.mineral p:nth-of-type(2) {
  line-height: 24px;
  opacity: .5; }

@media (min-width: 1440px) {
  .samples__visible {
    padding-inline-end: 0; }
  .samples__slides {
    overflow: visible; }
  .mineral__desire {
    max-width: 570px;
    margin: auto;
    margin-inline-end: 0;
    padding-block-start: 100px; }
  .mineral {
    display: flex; }
  .samples__slides img:nth-of-type(1) {
    margin-inline-start: 0; }
  .samples__slides img:last-child {
    margin-inline-end: 0; }
  .perspective > header > h2 {
    font-size: 72px;
    line-height: 80px;
    max-width: 457px; }
  .perspective h3 {
    font-size: 52px;
    line-height: 64px; }
  .perspective header > a::before {
    top: 8.2rem; } }

:root {
  --desktop--padding: 135px; }

.mineral__update {
  padding-block-start: 92px; }

.mineral__update table {
  max-width: 100%;
  min-width: 100%;
  border-spacing: 0px 16px; }

.mineral__update td {
  padding: 0; }

.mineral__update tr > td:nth-of-type(2) {
  padding-inline-start: 16px; }

td > h4 {
  opacity: .5;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

td > span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }

:root {
  --desktop--padding: 135px; }

.section__updates {
  background-color: #FFDD78;
  padding: 16px;
  margin: -15px;
  padding-block-start: 63px;
  padding-block-end: 53px; }

.section__updates h2 {
  font-family: dmSerifDisplayRegular;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px; }

.section__updates > header > span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase; }

.subscribe__type {
  padding: .5rem;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  border: 0;
  border-radius: 2.94008px; }

.subscribe__type > label {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase; }

.email {
  width: 367px;
  height: 76px;
  margin-inline-end: 0;
  margin-bottom: 16px;
  text-align: left;
  padding: 0; }

.email input {
  width: 90%;
  height: 48px;
  border-radius: 5px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  border: 1px solid #DADADA;
  margin-block-start: 8px; }

.submit {
  text-decoration: none;
  display: inline-block;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: #434CCC;
  border: 0;
  padding: 14px 47px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center; }

@media (min-width: 1440px) {
  .section__updates {
    margin-inline-start: -135px;
    margin-inline-end: -135px;
    padding-inline-start: var(--desktop--padding);
    padding-inline-end: var(--desktop--padding);
    display: flex; }
  .section__updates h2 {
    font-size: 52px;
    line-height: 64px; }
  .section__updates > header {
    max-width: 382px;
    min-width: 382px;
    margin-inline-end: auto; }
  .section__updates > form {
    display: flex;
    position: relative;
    top: 50px; }
  .submit {
    position: relative;
    top: 26px; }
  .email {
    margin-inline-end: 4rem; } }

:root {
  --desktop--padding: 135px; }

footer {
  background-color: #FFFFFF;
  margin: 0;
  padding: 16px; }

footer > div h2 a {
  font-family: dmSerifDisplayRegular;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase; }

footer > div > div > p, .copyright {
  font-size: 16px;
  opacity: .5; }

.posts {
  margin-block-start: 75px;
  margin-block-end: 75px; }

.footer--links {
  margin-block-start: 0;
  margin-block-end: 0; }

.border--bottom {
  border-bottom: 1px solid #000000;
  opacity: .1;
  margin-inline-start: -16px;
  margin-inline-end: -16px; }

.links_site, .posts__comments {
  margin: 0;
  padding: 0;
  list-style: none; }

.links_site a {
  text-transform: capitalize;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  opacity: .5;
  transition: opacity 0.3s;
  display: block;
  text-decoration: none;
  padding: 4px 0px; }

.links_site a:hover {
  opacity: 1; }

.links_site .active > a {
  opacity: 1;
  padding: 16px 0px; }

.footer__row .links_site {
  margin-inline-end: 20rem; }

.poster_profile img {
  border-radius: 5px; }

.posts__comments li {
  display: flex; }

.posts__comments li:nth-of-type(1) {
  margin-block-end: 26px; }

.posts__comments li p {
  margin: 0; }

.comment {
  margin-inline-start: 26px; }

.comment > span:nth-of-type(1) {
  opacity: .5;
  font-size: 15px; }

.comment > span:nth-of-type(2) {
  font-weight: bold;
  font-size: 12px; }

@media (min-width: 1440px) {
  footer {
    padding-inline-start: var(--desktop--padding);
    padding-inline-end: var(--desktop--padding); }
  .footer__row {
    display: flex;
    justify-content: space-between;
    padding-block-start: 56px; }
  .footer__row h3 {
    display: none; }
  .footer__row > div {
    max-width: 270px; }
  .posts {
    margin-block-start: 22px; }
  .border--bottom {
    margin-inline-start: -135px;
    margin-inline-end: -135px; }
  .copyright {
    display: flex;
    justify-content: space-between; } }
